body {
    /* background: #dfd5c4;  /* logo_tan */
    background: #efeae1;  /* avg(logo_tan, white) */
    font: 1em ColaborateLiteRegular, Arial, sans-serif;
}

#page {
    color: #594c47;  /* dark brown from logo */
    background: white;
    position: float;
    padding: 1em;
    margin: 2em auto;
    width: 78em;
}

#header {
    position: relative;
    clear: both;
    font: 2.5em PacificoRegular, Arial, sans-serif;
}

#header img {
    position: relative;
    height: 4.5em;
    bottom: -0.15em;
    margin: 0em 1em;
}

#header ul {
    position: absolute;
    bottom: 0;
    right: 0;
}

#header li {
    padding: 0em 0.5em;
    float: right;
}

#header .selected {
    color: #6cb6b3;  /* blue from logo */
    background-image: url('../images/heart-big.png');
    background-repeat:no-repeat;
}

#header ul a {
    color: #594c47;  /* dark brown from logo */
}

#header ul a:active, #header ul a:hover {
    color: #e45a2f;  /* red from logo */
}


#header a {
    text-decoration: none;
}

#content {
    clear: both;
}

#content .column {
    float: left;
}

#content .box {
    width: 22em;
    padding: 1em;
    margin: 0em 1em 2em;
    background: #f4f1eb;  /* (logo_tan + white*2)/3 */
}

#content h1 {
    font: 2em PacificoRegular, Arial, sans-serif;
    color: #6cb6b3;  /* blue from logo */
}

#content h2 {
    font: 1.5em PacificoRegular, Arial, sans-serif;
}

#content p {
    /* font: 1em ColaborateLiteRegular, Arial, sans-serif; */
    margin: 1em 0em;
}

#content a {
    color: #6cb6b3;  /* blue from logo */
    font-weight: bold;
}

#content ul {
    list-style-image: url('../images/heart-bullet.png');
    margin: 0em 0em 0em 2em;
}

#content dl dt {
    font-weight: bold;
}

#content dl dd {
    margin: 0em 0em 0em 2em;
}

#content table tr {
    border-bottom: 1px solid;
}

#content table th {
    padding-right: 1em;
}

#content img {
    height: 28em;
    width: 22em;
}

#content .personal {
    font-family: PacificoRegular, Arial, sans-serif;
}

#content .signature {
    position: relative;
    left: 10em;
    bottom: -1em;
}

#content .alone {
    min-height: 28em;
}

#footer {
    clear: both;
}
